{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>ISTEC </title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<section class="single-post-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="post-content">
								<div class="post-thumbnail">
									<img src="{%  static '422.jpeg' %}" alt="">
								</div>
								<h3>ISTEC hakkında</h3>
								<p>ISTEC yenilikçi yelken teknolojileri sunan bir Alman şirketidir. Üretim konusu geniş seyir yelkenleri olup, özellikle balon üretiminde uzmanlaşmış bulunmaktadır. Ana ürünü ise, dünyanın ilk kanatlı balonu olan ve özellikle az sayıda ekiple kullanımı düşünülerek tasarlanmış Parasailor’dur. Bunun yanı sıra Parasail (Parasailor’un bir çeşidi),  çorap sistemi Easysnuffer ve yelken torbaları da ürünleri arasındadır. ISTEC dünyanın önde gelen yamaç paraşütçüleri ve ilgili ekipmanlarının üreticisi Swing -Flugsportgeräte GmbH’nın kardeş şirketi olarak 2004 yılında kurulmuştur. Şirket merkezi Münih/  Bavyera, yakınlarındaki Landsberied’ de olup, Swing şirketi ile de başta araştırma-geliştirme departmanları olmak üzere, satın alma, üretim ve yönetim olarak yakın işbirliği içinde çalışmalarını sürdürmektedir. </p>
								<div class="container">
									<div class="features-box">
										<div class="row">
											<div class="col-lg-6">
												<div class="feature-content">
													<h3>Kanat Nasıl Çalışır</h3>
													<p>Arka yönden gelen rüzgârlar yelkeni doldurur ve tekneyi öne iter. Rüzgârın basıncının bir kısmı kanadı yukarıya doğru iterekten havalandırır, üstünden ve altından hava akımını sağlar. Kanadın yapısından kaynaklanan verimlilikten dolayı üstten gelen hava akımının açısı alttan gelen hava akımından daha süratli olup, kanadı sabit durumda tutmaktadır. Kanadın iki önemli unsuru: Öncelikle teknenin baştan aldığı basınç minimize edilmekte ve bunun neticesinde yürütme gücü arttırılmaktadır ve kanadın açılımından dolayı olası güç kaybı dengelenmektedir.  </p>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="image-holder">
													<img width="400" src="{% static 'hownow.jpeg' %}" alt="transformational_designs">
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</section>
<section class="single-post-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="post-content">
								<div class="post-thumbnail">
									<img src="{% static '466.jpeg' %}" alt="">
								</div>
								<h3>Parasailor</h3>
								<br>
								<h3>Gezgin çiftler için tasarlanmıştır…</h3>
								<p>Parasailor, kullanımı kolay ve iyi performans elde edilen bir yelken olması özelliğinden dolayı, çift kişi veya az sayılı mürettebatlı seyirler düşünülerek geliştirilmiştir.
									Sonuçta sizlerin de arzusu tekne üzerinde dramatik sahnelerin yaşanmadığı, güvenli ve huzurlu bir ortam değil mi?
									Bu nedenle, Parasilor’u sadece eşinizle beraberken dahi güvenli bir şekilde kullanabilmeniz düşünülmüştür. </p>
								<br>
								<h3>Uysal yol arkadaşınız</h3>
								<p>Farklı rüzgârlara girdiğinizde dahi, rahat olun. Klasik balonlar gibi sürekli trim istemeyen bir yelkendir. Parasailor geniş seyirlerde size hoşça vakit geçirtecek bir dost olacaktır. Alışılmış balon kullanımlarının aksine, Parasailor doluyken tekneyi bayıltmayan ve pandüle düşürmeyen bir yelkendir. Neden bu kadar sabit? Sabitliği sağlayan yelkenin kanadıdır. Bu kanat, hava yastığı vazifesi görür gibi, yelkeni sürekli dolu tutar. Parasailor’ın yakaları ani açı değişmelerinde kapansa bile, yelkeni koruyan, çıta görevi gören kanat vasıtasıyla rüzgar açısı normale döndüğü anda silkelemeden tekrar eski haline döndürecektir.</p>

							</div>
						</div>

					</div>
				</div>
			</section>
<section class="about-section">

				<div class="container">
					<div class="about-box">
						<div class="row">
							<div class="col-lg-6">
								<div class="images">
									<div class="row">
										<div class="col-md-6">
											<img src="{% static 'y1.jpeg' %}" alt="about1">
											<img src="{% static 'g1.jpeg' %}" alt="about2">
										</div>
										<div class="col-md-6">
											<img class="snd-size" src="{% static 'g3.jpeg' %}" alt="about3">
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="about-content">
									<h3>Otopilotla uyum içinde çalışır</h3>
									<p>Parasailor otopilotla da birebir uyumludur. Birlikte son derece uyum sağlamaktadır. Parasailor kendi kendini trim etme özelliğinden dolayı otopilota aşırı yüklenmediğinden kolaylık sağlamaktadır. Öte yandan Parasailor dizaynından dolayı yalpaya düşmediğinden otopilota da fazlaca bir görev düşmemektedir. Parasail Kolay,  hafif spinnaker Parasail, Parasailor’dan farklı olarak hafif hava şartlarına uygun tasarlanmış bir balondur. Az sayıda mürettebat ile idare edilebilen, pandüle düşürmeyen bir balon yelkendir. Gönder kullanma imkânı olsa da bu bir gereklilik değildir. Balon Çorabı Çift aşamalı kontrol sistemi Easysnuffer iki aşamalı kontrol sistemli olup, üst halatı çekerken alt tarafı kendi kendine gergin kalmakta olup yelkenin dolanmasına engel olur. Aynı zamanda yukarıya sıkışmasına da mani olmaktadır.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
	<section class="features-section">
				<div class="container">
					<div class="features-box">
						<div class="row">
							<div class="col-lg-5">
								<div class="feature-content">
									<h3>Sadece tek halatla çekip indirme</h3>
									<p>Diğer çift halatlı balon çoraplarının aksine, Easysnuffer tek bir halatla kontrol edilmektedir. Özel tasarımı sayesinde Easysnuffer ikili kontrol halatı ile donanmış olup, ikisi de çoraba içten dikilidir. Bu sayede halatların yelkenle dolanma olanağı ortadan kalkmaktadır. Fitillerde beyaz kumaş kullanıldığından çorabın gri kumaşı ile zıtlık yaratmakta, bu da çorabın kendi ekseni etrafında dolanıp dolanmadığını kontrol olanağı vermektedir.</p>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="image-holder">
									<img src="{% static 'tekhalat.jpeg' %}" alt="transformational_designs">
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
{% endblock %}


{% block jss %}
{% endblock %}